.tasks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    border-bottom: 1px solid hsl(0, 0%, 65%);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content {
    color: hsl(0, 0%, 15%);
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    color: hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
    padding: 0;
}

.tasks__button--toggleDone {
    background-color: hsl(120, 60%, 35%);
    color: hsl(0, 0%, 0%);
}

.tasks__button--toggleDone:hover {
    background-color: hsl(120, 60%, 40%);
}

.tasks__button--toggleDone:active {
    background-color: hsl(120, 60%, 45%);
}

.tasks__button--remove {
    background-color: hsl(0, 80%, 50%);
    cursor: pointer;
}

.tasks__button--remove:hover {
    background-color: hsl(0, 80%, 55%);
}

.tasks__button--remove:active {
    background-color: hsl(0, 80%, 60%);
}