html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: hsl(0, 0%, 13%);
  background-color: hsl(0, 0%, 90%);
}

.container {
  max-width: 980px;
  margin: 0 auto;
}